<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Ticket</title>
</head>
<body>
    <form action="delt" method='GET'>
        <input type="text" name="movienm" placeholder="movie name" />
        <input type="text" name="id" placeholder="Ticket ID">
        <input type="text" name="username" placeholder="User Name">
        <input type="text" name="phone"placeholder="Phone number">
        <input type="text" name="nos" placeholder="number of tickets to cancel">
        <button type="submit">Cancel Booking</button>
    </form>
</body>
</html>