<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor=#69F0AE>
    <form action="updatetimefn" method='GET'>
        <input type="text" name="tcid"  placeholder="Ticket ID">
        <input type="text" name="ts"  placeholder="Starting Time">
        <input type="text" name="te"  placeholder="End Time">
        <button type="submit">Update</button>
    </form>
</body>
</html>