<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor=#69F0AE>
    
    <div id="movies"></div>
        <div id="name"><h1>Name : {{obj.user}}</h1></div>
        <div id="ts">Time Start : {{obj.book_time}}</div>
        <div id="sa">Phone no : {{obj.phone}}</div>
        <div id="sa">Number of tickets : {{obj.nos}}</div>
    </div>
    <br>
    <br>
</body>
</html>